<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="3.3239.1723" targetFramework="net462" />
  <package id="cef.redist.x86" version="3.3239.1723" targetFramework="net462" />
  <package id="CefSharp.Common" version="63.0.3" targetFramework="net462" />
  <package id="CefSharp.WinForms" version="63.0.3" targetFramework="net462" />
  <package id="CommandLineParser" version="1.9.71" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net462" />
</packages>